<!-- node iam login, login to iam service -->
<script type="text/javascript">
  RED.nodes.registerType('iam-login', {
    category: "IAM",
    color: "rgb(115, 225, 255)",
    defaults: {
      name: {
        value: ""
      },
      endpoint: {
        value: ""
      },
      outputs: {
        value: 2
      }
    },
    inputs: 1,
    outputs: 1,
    icon: "font-awesome/fa-user-plus",
    label: function () {
      return this.name || "IAM Authenticate";
    },
    oneditprepare: function () {

    },
    oneditsave: function () {

    },
    outputLabels: ["success","fail"],
  });
</script>

<script type="text/x-red" data-template-name="iam-login">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
  <div class="form-row">
    <label for="node-input-endpoint"><i class="fa fa-tag"></i> Endpoint</label>
    <input type="text" id="node-input-endpoint" placeholder="/">
  </div>
</script>

<script type="text/x-red" data-help-name="iam-login">
  <p>IAM Login node</p>
</script>

<!-- node iam logout, logout of iam service -->
<script type="text/javascript">
  RED.nodes.registerType('iam-logout', {
    category: "IAM",
    color: "rgb(115, 225, 255)",
    defaults: {
      name: {
        value: ""
      },
      endpoint: {
        value: ""
      },
      outputs: {
        value: 2
      }
    },
    inputs: 1,
    outputs: 1,
    icon: "font-awesome/fa-user-times",
    label: function () {
      return this.name || "IAM Logout";
    },
    outputLabels: ["success","fail"],
  });
</script>

<script type="text/x-red" data-template-name="iam-logout">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
  <div class="form-row">
    <label for="node-input-endpoint"><i class="fa fa-tag"></i> Endpoint</label>
    <input type="text" id="node-input-endpoint" placeholder="/">
  </div>
</script>

<script type="text/x-red" data-help-name="iam-logout">
  <p>IAM Logout node</p>
</script>

<!-- node iam hasGroup, validate user stream has group -->
<script type="text/javascript">
  RED.nodes.registerType('iam-hasgroup', {
    category: "IAM",
    color: "rgb(115, 225, 255)",
    defaults: {
      group: {
        value: ""
      },
      outputs: {
        value: 2
      }
    },
    inputs: 1,
    outputs: 1,
    icon: "font-awesome/fa-users",
    label: function () {
      return `Has group «${this.group}»`;
    },
    outputLabels: ["success","fail"],
  });
</script>

<script type="text/x-red" data-template-name="iam-hasgroup">
  <div class="form-row">
    <label for="node-input-group"><i class="fa fa-tag"></i> Group name</label>
    <input type="text" id="node-input-group" placeholder="/AnyGroupName">
  </div>
</script>

<script type="text/x-red" data-help-name="iam-hasgroup">
  <p>IAM HasGroup node</p>
</script>
